<!-- register page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Tution Form</title>
    <link rel="stylesheet" href="../css/add_tuition.css">

</head>

<body>
    <div class="register-container">
        <h2 class="h2">Add Tution</h2>
        <form id="tutionForm" action="/skill" method="post">
            <h3>Welcome to our community<h3>
                    <h5>Note:you can add only one Skill class at once</h5>

                    <p class="para">Select skill below:</p>
                    <div class="ski">
                        <label>
                            <input type="radio" name="cid" value="c001">Lifestyle
                        </label>
                        <label>
                            <input type="radio" name="cid" value="c002"> Business
                        </label>
                        <label>
                            <input type="radio" name="cid" value="c005">Music
                        </label>
                        <label>
                            <input type="radio" name="cid" value="c004"> Technical
                        </label>
                        <label>
                            <input type="radio" name="cid" value="c006">Sports
                        </label>
                        <label>
                            <input type="radio" name="cid" value="c003">Art & Craft
                        </label>

                        <label>
                            <input type="radio" name="cid" value="c007">Dance
                        </label>
                        <label>
                            <input type="radio" name="cid" value="c008">Drama
                        </label>


                    </div>
                    <p class="para">Enter the skill Name:</p>
                    <input type="text" name="name" placeholder="skillname" required>
                    <p class="para">Enter the start time:</p>
                    <input class="time" type="time" name="starttime" placeholder="start-time" required>
                    <p class="para">Enter the End time:</p>
                    <input class="time" type="time" name="endtime" placeholder="end-time" required>

                    <p class="para">Enter your Qualification:</p>
                    <input type="text" placeholder="Qualification" required>
                    <p class="para">Enter the skill Description:</p>
                    <textarea class="inp" name="description" rows="2" cols="49" placeholder="Description"
                        required> </textarea>
                    <button id="me" type="submit">Submit</button>
        </form>
    </div>
    <footer>
        <div class="back">
            <a href="../views/home_page.html">Back to home Page</a>
        </div>
    </footer>
</body>
<script src="../script/add_tution.js"></script>

</html>