<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Notifications</title>
    <link rel="stylesheet" href="../css/notifications.css">
</head>
<body>
    <header>
        <div class="logo">
            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>
        <h3>Hey <span id="user-name">User</span>, see your notifications</h3>
        <a href="/views/home_page.html">Back home</a>
    </header>

    <div class="main">
        <!-- <div id="ma" class="main2">
            
             <div class="notify">yyou will add</div>
        </div> -->
    </div>

    <script src="../script/notifications.js"></script>
</body>
</html>
