<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classes</title>
    <!-- css linking  -->
    <link rel="stylesheet" href="../css/classes.css">

</head>

<body>
    <!-- navbar  -->
    <header>
        <div class="logo">
            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>

        <h3 id="user_name">name of user</h3>
        <button class="homeBtn" onclick="window.location.href='/views/home_page.html'">Home</button>
    </header>

    <h1 id="h1">See your classes</h1>
    <!-- container to view enrolled classes  -->
    <div class="tolearn" id="tolearn">

        <!-- <div class="sub">
            <h2>Skill name</h2>
            <p>Teacher:Leesha</p>
            <p>Timings:2:00 PM-3:00 PM</p>
            <p>Date:1-1-2001</p>
            <p>Center:Jayalaxmipura</p>
            <button class="cancel">Cancel Skill</a></button>
        </div> -->
    </div>
    <button class="butt"><a href="/views/home_page.html">add Skill</a></button>

</body>
<!-- javascript linking  -->
<script src="../script/classes.js"></script>

</html>